.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  .clients &, 
  .hero & {
    @include flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer & {
    @include flex;
  }

  .header & {
    @include flex;
    height: 80px;
  }

  .portfolio-section & {
    @include flex;
    flex-direction: column;
    
  }

  .specification &,
  .team & {
    display: flex;
    flex-direction: column;
  }
}